
.posts
  display: inline-block
  width: 75%

.post
  margin-bottom: 80px
  margin-left: 20px

  header
    h2
      margin-bottom: 0

  .meta
    width: 100px
    float: right
    margin-right: -120px

.read-more
  display: none