// Blog experiment - style

@import 'normalize'
reset-html5()
// reset-box-model()
// reset-body()

// Variables
wrapperMargin = 40px
wrapperWidthDesktop = 800px
headerHeight = 120px
footerHeight = 46px
linkColor = #204A87

// Base style
body
  font-family: 'Open Sans', sans-serif

p
  font-size: 14px
  line-height: 1.75em

a
  color: linkColor
  text-decoration: none
  &:hover
    text-decoration: underline

body > header
  height: headerHeight

body > footer
  height: footerHeight
  p
    float: right
    font-size: 12px

.wrapper
  margin: wrapperMargin

  @media screen and (min-width: 980px)
    width: wrapperWidthDesktop
    margin: 0 auto

@import 'sidebar'
@import 'post'

.pagination
  ul
    padding: 0
    list-style: none
  li
    display: inline-block
    a
      padding: 0 4px
      font-size: 12px