// Blog experiment - style

@import 'normalize'
reset-html5()

// Variables
wrapperMargin = 40px
wrapperWidthDesktop = 900px
postMarginBottom = 50px
footerHeight = 46px
linkColor = #204A87

// Base style
body
  font-family: 'Open Sans', sans-serif

h1
  font-size: 26px
h2
  font-size: 20px
p
  font-size: 14px
  line-height: 1.75em

a
  color: linkColor
  text-decoration: none
  &:hover
    text-decoration: underline

.wrapper
  margin: wrapperMargin

  @media screen and (min-width: 980px)
    width: wrapperWidthDesktop
    margin: 0 auto

  > header
    border-bottom: 1px solid #eee
    
  > footer
    height: footerHeight
    p
      float: right
      font-size: 12px

// Other style
.post
  margin-bottom: postMarginBottom

  &:first-child
    margin-top: 40px

  header
    margin-bottom: 30px

    h1
      margin-bottom: 0
    a
      font-size: 12px

.pagination
  ul
    padding: 0
    list-style: none
  li
    display: inline-block
    a
      padding: 0 4px
      font-size: 12px